.container {
  padding-bottom: calc(var(--spacing-unit) * 3);
  margin-top: calc(var(--spacing-unit) * -1.5);
  border-left: 1px dotted;
}

.container:last-child {
  border-left: none;
}

.item {
  display: flex;
  align-items: center;
}

.item:before {
  content: "";
  display: block;
  border-top: 1px dotted;
  padding-left: var(--spacing-unit);
}

.header {
  background-color: var(--palette-grey-200);
}

.stop {
  padding-left: var(--spacing-unit);
}

.divider {
  margin: calc(var(--spacing-unit) * 1.5) 0;
}
